.bg-orange {
    background-color: orange !important; /* или другой цвет */
}

.bg-red {
    background-color: red !important;
}

.bg-green {
    background-color: rgb(22, 230, 67);
}

.bg-dark-green {
    background-color: rgb(38, 100, 66);
}

dl.row dt {
    font-weight: normal;
    color: #6c757d;
}

dl.row dd {
    margin-bottom: 0.5rem;
    word-break: break-word;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.75rem 1.25rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.task-title {
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    overflow-wrap: break-word;
  }  