body {
    height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    align-items: start;
    padding-top: 60px;
}
h1 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}